<h1 class="text-center">Posts</h1>

<table class="table">
<thead>
    <tr>
      <th scope="col">Disco</th>
      <th scope="col">Fecha</th>
      <th scope="col">Caratula</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
    <% @posts.each do |post| %>
    <tr>
        <td><%=post.title%></td>
        <td><%=post.created_at%></td>
        <td> <img src=<%=post.image_url%> alt="showimg" width="150" height="150"></td> 
        <td><%=post.content%></td>
    </tr>
    <%end%>
</table>
<br>
<h2>Ingrese su post</h2>
    <form method="get" action="posts/create" class="py-3"> 
    Titulo:<input name="titulo" class="form-control"><br>
    Url Imagen:<input name="url_img" class="form-control"><br>
    Contenido: <textarea name="contenido" class="form-control"></textarea><br>
    <input type="submit" value="Enviar" class"btn btn-primary my-2"><br>
</form>
